<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>memomo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>servlet.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoController</display-name>
    <servlet-name>MemoController</servlet-name>
    <servlet-class>servlet.MemoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoController</servlet-name>
    <url-pattern>/MemoController</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>UserTourokuController</display-name>
    <servlet-name>UserTourokuController</servlet-name>
    <servlet-class>servlet.UserTourokuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTourokuController</servlet-name>
    <url-pattern>/UserTourokuController</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>UserConfig</display-name>
    <servlet-name>UserConfig</servlet-name>
    <servlet-class>servlet.UserConfig</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserConfig</servlet-name>
    <url-pattern>/UserConfigr</url-pattern>
  </servlet-mapping>

</web-app>