@charset "UTF-8";

body {
		font-family: Georgia, "Times New Roman", Times, serif;
       background-image: url("../gazo/haikei1.gif");
}

.container{
	padding-top: 100px;
}

.logo {
	padding-top: 15px;
	padding-left: 20px;
	height: 80px;
	background-color: #9999FF;
	font-size: 14px;
	width: 100%;
}

.logo  a{
	font-size: 30px;
	color: white;
}


h1{		
       font-family: Courier;
		background-color: #9999FF;

}

.btn{
	margin-top:30px;
	 width: 120px;
}