@charset "UTF-8";

body.zentai{
		font-family: Georgia, "Times New Roman", Times, serif;
       background-color: 	#CCCCFF;
    
}

.container{
	padding-top: 20px;
	background-color: #9999FF;
	height: 100vh;
}

.logo {
	padding-top: 15px;
	padding-left: 20px;
	height: 90px;
	background-color: #9999FF;
	font-size: 14px;
	width: 100%;
}


.logo  a{
	font-size: 30px;
	color: white;
}

.navlist a{
	font-size: 15px;
		color: white;
}


h1{		
	    font-family: Calibri、Candara、Segoe、Segoe UI、Optima、Arial、sans-serif;
		color: white;
}

.btn{
	margin-top:25px;
	margin-bottom:20px;
}
.hyou{
	background-color: 	#CCCCFF;
}



